body::before {
	display: block;
	content: "";
	height: 60px;
}

#map {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

#features, #course, #contact {
	scroll-margin-top: 5em;
}

#showcase {
	display: none;
}

#main {
	background-image: url('/img/main-100.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 350px;
}

.head-title {
	font-size: 45px;
	line-height: 130%;
}

#course-title-01 {
	background-image: url('/img/course-title-01.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#course-title-02 {
	background-image: url('/img/course-title-02.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#course-title-03 {
	background-image: url('/img/course-title-03.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#course-title-04 {
	background-image: url('/img/course-title-04.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#course-title-05 {
	background-image: url('/img/course-title-05.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#course-title-06 {
	background-image: url('/img/course-title-06.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#course-title-07 {
	background-image: url('/img/course-title-07.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#course-title-08 {
	background-image: url('/img/course-title-08.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#course-title-10 {
	background-image: url('/img/course-title-10.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

#sub-vision {
	background-image: url('/img/back-01.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

#sub-roadmap {
	background-image: url('/img/back-02.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

#sub-result {
	background-image: url('/img/back-03.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

#sub-title-01, #sub-title-02 {
	text-shadow: 0px 0px 5px black;
}

.fee-circle {
	display: flex;
	justify-content: end;
	align-items: center;
}

.fee-selector {
	 text-decoration: none;
	 color: black;
}

@media (max-width: 387px) {
	#carousel {
			display: none;
		}
	
		#showcase {
			display: block;
		}
	
		#head-title-2 {
			font-size: 32px;
		}

		#agree-check {
			margin-top: 10px;
		}

		#course-title {
			font-size: 30px;
					font-weight:bolder;
		}
}

@media (min-width: 388px) and (max-width: 800px) {

	#carousel {
		display: none;
	}
	#showcase {
		display: block;
	}
	#head-title-2 {
		font-size: 32px;
	}

	#agree-check {
		margin-top: 10px;
	}

	#course-title {
		font-size: 30px;
		font-weight: bolder;
	}
}
